* {
  font-family: sans-serif;
  box-sizing: border-box;
}

#nav_container {
  width: 100vw;
  height: 4rem;
  position: fixed;
  background: black;
  display: flex;
}

#nav_container .nav_col{
  flex: 1;
  margin: auto;
}

#nav_container .nav_col select {
  font-size: 1.5rem;
  outline: none;
  background: #fff;
  width: 90%;
}

#main_container {
  width: 100%;
  display: flex;
  padding-top: 4rem;
  min-height: 100vh;
}

#status_container {
  /* background: yellow; */
  flex: 1;
  padding: 2rem;
}

#status_container h1 {
  margin: 0;
}

.ruled {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

#cells_container {
  /* background: green; */
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.panel_row {
  /* background: blue; */
  flex: 0 1 auto;
  width: 100%;
  display: flex;
}

.panel_cell {
  /* background: red; */
  flex: 0 1 auto;
  width: calc(100%/ 6);
  height: 12vw;
  transition: all 0.75s;
  display: flex;
  padding: 1.5vw;
}

.panel_row:nth-child(odd) .panel_cell:nth-child(odd),
.panel_row:nth-child(even) .panel_cell:nth-child(even) {
  background: black;
}

img.panel {
  flex-shrink: 0 1 auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}