* {
  font-family: sans-serif;
  box-sizing: border-box;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}

.rule {
  width: 100%;
  border-bottom: 1px solid black;
}

#nav_container {
  width: 100vw;
  height: 4rem;
  padding: 1rem 2rem;
  position: fixed;
  background: black;
  display: flex;
}

#nav_container .nav_item {
  flex: 1;
  margin: auto 0;
}

#nav_container .nav_item:first-child {
  margin-left: calc(20% + 3rem);
}

#nav_container .nav_item:not(:last-child) {
  margin-right: 2%;
}

.nav_item select {
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  background: #fff;
}

#body_container {
  width: 100%;
  display: flex;
  padding-top: 3.5rem;
  min-height: 100vh;
}

#sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.panel_info {
  position: relative;
  width: 85%;
  top: -2px;
  transition: all 0.65s;
  display: none;
}

.show {
  display: block;
}

#sidebar .panel_info h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

#sidebar_footnote {
  flex: 0 1 auto;
  margin-top: auto;
}

#main_area {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.panel_row {
  flex: 0 1 auto;
  display: flex;
  width: 100%;
}

.panel_cell {
  flex: 0 1 auto;
  display: flex;
  width: calc(100%/ 6);
  height: 12vw;
  padding: 1.5vw;
  transition: all 0.75s;
}

.panel_row:nth-child(odd) .panel_cell:nth-child(odd),
.panel_row:nth-child(even) .panel_cell:nth-child(even) {
  background: black;
}

img.panel {
  flex: 0 1 auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}