* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#json_data {
  display: none;
}

.rule {
  width: 100%;
  border-bottom: 1px solid black;
}

#nav_container {
  width: 100%;
  height: 3.5rem;
  padding: .8rem 0;
  position: fixed;
  left: 0;
  background: #fff;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

#nav_container .nav_item {
  flex: 1 0 15%;
  margin: auto 0;
  max-width: 15%;
  position: relative;
  margin-right: 2%;
}

.nav_item select {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
  padding-bottom: .5rem;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nav_item::after {
  content: "\25CD";
  position: absolute;
  font-size: 1rem;
  top: 0;
  right: 0;
  height: 1rem;
  pointer-events: none;
  transform: rotate(45deg);
}

#body_container {
  width: 100%;
  display: flex;
  padding-top: 3rem;
  min-height: 100vh;
}

#sidebar {
  flex: 1;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-right: 1px solid black;
}

#sidebar .panel_info {
  position: relative;
  width: 100%;
  top: -2px;
  transition: all 0.65s;
  display: none;
}

#sidebar .panel_info h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1.5rem 0;
}

#sidebar .panel_info p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

#sidebar .panel_info p {
  margin: 0.5rem 0;
  line-height: 125%;
}

#sidebar .panel_info.show {
  display: block;
}

#sidebar_footnote {
  flex: 0 1 auto;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar_footnote p {
  font-size: 0.8rem;
  margin: 0.25rem 0;
  line-height: 110%;
}

#sidebar_footnote p:last-child {
  margin-bottom: 0;
}

.legend_row {
  flex: 0 1 auto;
  position: relative;
}

.symbol {
  position: absolute;
  width: 1rem;
  left: -0.125rem;
  top: .125rem;
  text-align: center;
  margin: auto;
  display: flex;
}

.symbol p {
  font-size: 1rem !important;
  flex: 1 !important;
  margin: auto !important;
}

.legend {
  margin-left: 1.25rem;
  width: 75%;
}

#main_area {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 1.5rem 3vw;
}

.panel_row {
  flex: 0 1 auto;
  display: flex;
  margin-top: -1px;
  width: 100%;
}

.panel_cell {
  flex: 0 1 auto;
  display: flex;
  width: calc(100%/ 6);
  height: 12vw;
  padding: 1.5vw;
  transition: width 0.75s, height 0.75s;
  position: relative;
  margin-right: -1px;
}

.panel_row:not(:last-child) .panel_cell {
  border-bottom: 1px solid black;
}

.panel_row:not(:first-child) .panel_cell {
  border-top: 1px solid black;
}

.panel_cell:not(:first-child) {
  border-left: 1px solid black;
}

.panel_cell:not(:nth-child(5)) {
  border-right: 1px solid black;
}

.panel_row:first-child .panel_cell:last-child {
  border-right: none;
}

.panel_row .panel_cell.empty_cell {
  border: 0;
}

.spacers {
  width: 1vw;
  height: 1vw;
  background: #fff;
  position: absolute;
  z-index: 300;
  border-radius: 50%;
}

.spacers.top {
  top: -0.5vw;
}

.spacers.btm {
  bottom: -0.5vw;
}

.spacers.left {
  left: -0.5vw;
}

.spacers.right {
  right: -0.5vw;
}

.panel_cell .new_panel {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  pointer-events: none;
}

img.panel {
  flex: 0 1 auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  pointer-events: none;
}

@media 
not screen and (-webkit-min-device-pixel-ratio: 2), 
not screen and (min-resolution: 192dpi) {
  .nav_item select,
  #sidebar_footnote p {
    font-size: 0.9rem;
  }

  .nav_item::after {
    font-size: 1.5rem;
    height: 0.8rem;
    right: -.25rem;
    top: -.125rem;
  }

  #sidebar .panel_info h1,
  #sidebar .panel_info p {
    font-size: 1rem;
  }
}
